#Ignore build directory
/build*
/generated-docs
/tool_postProc/build*
/tool_commsPerformance/build*

# Temporary ignores
/mesh_*

# Ignore weird files
*.swp
*.mod
*.h5
*.log
*.dat
*.sh
*.err
*.out

# Ignore VSCODE estensions and configs
.trunk
.vscode
.flake8
.isort.cfg
.markdownlint.yaml

# Ignore *.hdf files, except in the Tests directory
*.hdf
!/Tests/TGV_Compressible/*.hdf
!/Tests/TGV_Incomp/*.hdf
!/Tests/TGV_Species/*.hdf

# Ignore *.dat files for the references
!/Tests/TGV_Compressible/CPU/IMEX/Reference/*.dat
!/Tests/TGV_Compressible/CPU/LS_RK_5/Reference/*.dat
!/Tests/TGV_Compressible/GPU/IMEX/Reference/*.dat
!/Tests/TGV_Compressible/GPU/LS_RK_5/Reference/*.dat
!/Tests/TGV_Incomp/CPU/AB/Reference/*.dat
!/Tests/TGV_Incomp/GPU/AB/Reference/*.dat
!/Tests/TGV_Species/CPU/AB/Reference/*.dat
!/Tests/TGV_Species/GPU/AB/Reference/*.dat