#Ignore build directory
/build*
/generated-docs
/tool_postProc/build*
/tool_commsPerformance/build*

# Ignore weird files
*.swp
*.mod

# Ignore VSCODE estensions and configs
.trunk
.vscode
.flake8
.isort.cfg
.markdownlint.yaml
