#Ignore build directory
/build*
/generated-docs
/tool_postProc/build*
/tool_commsPerformance/build*

# Temporary ignores
/mesh_*

# Ignore weird files
*.swp
*.mod
*.h5
*.log
*.txt
*.dat

# Ignore VSCODE estensions and configs
.trunk
.vscode
.flake8
.isort.cfg
.markdownlint.yaml
